#titlehr {
    height : 2px;
    border : solid grey;
    background-color : grey;
    /*border-radius : 12px;*/
}
section {
    background-color : aliceblue;
    border : 3px solid darkslategray;
    border-radius : 20px;
}
section figure h4{
    display : inline;
    margin-left : 10px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    background-color : darkslategray;
    border-radius : 12px;
    color : aliceblue;
}

video {
    width : 100%;
}

article details {
    margin-top: 10px;
    margin-left : 40px;
    margin-bottom : 30px;
    margin-right : 40px;
    background : linear-gradient(lightsteelblue, aliceblue);
    border-top-left-radius : 12px;
    border-top-right-radius : 12px;
    padding-top : 10px;
    padding-left : 20px;
    padding-bottom : 10px;
    
}
article details summary:hover{
    color : antiquewhite;
    cursor : pointer;
}
article details > hr {
    width : 95%;
    border : solid aliceblue;
    background-color : aliceblue;
    margin-bottom : 15px;
}

#footer { 
    background-color : antiquewhite;
    clear : both;
    width : 100%;
    bottom : 10px;
}
#footer p {
    font-family : "Times New Roman", Helvetica, Sans-Serif;
    text-align : center;
}